{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [

    ],
    "sourceMaps": true,
    "inputSourceMap": true
}