.card {
    transition: transform 0.15s ease-out;
    transform: perspective(100px);
    position: relative;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
}

.cardSymbol {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
}

@keyframes :global(popout) {
    from {
        transform: scale(0.75) perspective(100px) rotateX(0deg) rotateY(180deg);
    }

    15% {
        transform: scale(1.1) perspective(100px) rotateX(0deg) rotateY(180deg);
    }

    to {
        transform: scale(0) perspective(100px) rotateX(0deg) rotateY(180deg);

    }
}