body {
    background-color: unset;
}

:global(.stbDivide) {
    margin-bottom: 1rem;
}

:global(.stbDivide)::after {
    content: '';
    display: block;
    margin-top: 1rem;
    width: 100%;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}