@import 'styles/colors.css';
@import 'styles/fonts.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--c-background);
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: var(--fontsBase);
    font-size: 1.6em;
    color: var(--c-text-base);
    height: 100%;
    position: relative;
    background: linear-gradient(var(--c-background), var(--c-primary-hover));
    overflow: auto;
}

svg path {
    fill: inherit;
}

button {
    border: none;
    background: var(--c-primary);
    color: var(--c-text-white);
    transition: background-color 0.2s ease-out;
    padding: 1rem;
    border-radius: 0.2rem;
}

button:hover {
    background: var(--c-primary-hover);

}