@import 'styles/colors.css';
@import 'styles/fonts.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
    background: var(--c-background); 
}

body {
    font-family: var(--fontsBase);
    font-size: 1.6em;
    color: var(--c-text-base);
    height: 100%;
    overflow: auto;
}

svg path {
    fill: inherit;
}

button {
    border: none;
    background: var(--c-primary);
    color: var(--c-text-white);
    transition: background-color 0.2s ease-out;
    padding: 1rem;
    border-radius: 0.2rem;
}

button:hover {
    background: var(--c-primary-hover);

}

:global(#app){
    overflow: auto;
    position: relative;
}

:global(.app-background) {
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(var(--c-background), var(--c-primary-hover));
}